
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <h2 style="text-align:center;color:red;font-family:'Arial Rounded MT'">Dashboard</h2>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Modernize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->
    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="../css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->
    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--//web-fonts-->

</head>

<body>


    <div class="outer-w3-agile mt-3">
        <h4 class="tittle-w3-agileits mb-4">ONLINE TEST</h4>
        <div id="carouselExampleIndicators1" class="carousel slide text-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../images/ban4.jpg" alt="First Image">
                    <div class="carousel-caption">
                        <h5>TECHNICAL TEST</h5>
                        <p class="paragraph-agileits-w3layouts text-white">Technical Test Includes Questions Of C Language, C++ Language,
                         OOPs Concepts, Html, Css,Etc...</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../images/ban5.jpg" alt="Second Image">
                    <div class="carousel-caption">
                        <h5>APTITUDE TEST</h5>
                        <p class="paragraph-agileits-w3layouts text-white">Aptitude Test Includes Questions Of Simple Interest,Compound Interest,
                        Problems Of Trais,Profit & Loss,Etc...</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../images/ban6.jpg" alt="Third Image">
                    <div class="carousel-caption">
                        <h5>Reasoning</h5>
                        <p class="paragraph-agileits-w3layouts text-white">Reasoning Includes Verbal Reasoning, Non Verbal Reasoning, Etc...</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--// Carousel-4 -->
    <!--// Copyright -->
    <div class="container-fluid">
        <div class="row d-xl-flex justify-content-between">
            <!-- percentage-circles -->
            <div class="outer-w3-agile mt-3 text-center col-xl-7">
                <h4 class="tittle-w3-agileits mb-4">Asked Questions</h4>
                <ul class="percentg-circles-w3ls d-sm-flex justify-content-around">
                    <li>
                        <span>Techical</span>
                        <div class="chart circle-one">

                            <div class="figure">
                                <div class="pie"></div>
                            </div>
                            <div class="data-table">

                                <span class="percent">45%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>Aptitude</span>
                        <div class="chart circle-one">
                            <div class="figure">
                                <div class="pie"></div>
                            </div>
                            <div class="data-table">
                                <span class="percent">35%</span>
                            </div>
                        </div>
                    </li>
     
                    <li>
                        <span>Reasoning</span>
                        <div class="chart circle-one">
                            <div class="figure">
                                <div class="pie"></div>
                            </div>
                            <div class="data-table">
                                <span class="percent">20%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// percentage-circles -->
            <div class="outer-w3-agile mt-3 text-center col-xl-4 ml-xl-3">
                <h4 class="tittle-w3-agileits mb-4">Score</h4>
                <div class="w3_agile_gauge_meter">
                    <div class="js-gauge js-gauge--1 gauge"></div>
                </div>
            </div>
        </div>
    </div>
    <!--// Dual-section-chart -->
    <!-- Copyright -->
    <!-- Required common Js -->
    <script src='../js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->
    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- Js for bootstrap working-->
    <script src="../js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->
    <!-- Required common Js -->
    <script src='../js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->
    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- cirular-bar Js -->
    <script src='../js/circle_bar.js'></script>
    <script>
        var chartData = {
            "barCircleMobile": [{
                "index": 0.3,
                "value": 17436920,
                "fill": "#202e66",
                "label": "WebMd Health"
            },
            {
                "index": 0.4,
                "value": 10884799,
                "fill": "#283874",
                "label": "Livestrong.com"
            },
            {
                "index": 0.5,
                "value": 10257432,
                "fill": "#2e3e7e",
                "label": "Everyday Health"
            },
            {
                "index": 0.6,
                "value": 6110024,
                "fill": "#394b91",
                "label": "About.com"
            },
            {
                "index": 0.7,
                "value": 3895612,
                "fill": "#4a5da6",
                "label": "Drugs.com"
            },
            {
                "index": 0.8,
                "value": 3414585,
                "fill": "#6273b9",
                "label": "Alliance Health"
            },
            {
                "index": 0.9,
                "value": 3099372,
                "fill": "#6d7fc7",
                "label": "Lifescript.com"
            }
            ],
            "barCircleWeb": [{
                "index": 0.3,
                "value": 31588490,
                "fill": "#e04646",
                "label": "WebMD Health"
            },
            {
                "index": 0.4,
                "value": 26260662,
                "fill": "#e65252",
                "label": "Everyday Health"
            },
            {
                "index": 0.5,
                "value": 24263463,
                "fill": "#ee6f6f",
                "label": "Livestrong.com"
            },
            {
                "index": 0.6,
                "value": 12795112,
                "fill": "#5573ea",
                "label": "About.com Health Section"
            },
            {
                "index": 0.7,
                "value": 11959167,
                "fill": "#4c6ef5",
                "label": "Healthline"
            },
            {
                "index": 0.8,
                "value": 10408917,
                "fill": "#4263e6",
                "label": "HealthGrades"
            }
            ]
        };

        function drawBarCircleChart(data, target, values, labels) {
            var w = 362,
                h = 362,
                size = data[0].value * 1.15,
                radius = 200,
                sectorWidth = .1,
                radScale = 25,
                sectorScale = 1.45,
                target = d3.select(target),
                valueText = d3.select(values),
                labelText = d3.select(labels);


            var arc = d3.svg.arc()
                .innerRadius(function (d, i) {
                    return (d.index / sectorScale) * radius + radScale;
                })
                .outerRadius(function (d, i) {
                    return ((d.index / sectorScale) + (sectorWidth / sectorScale)) * radius + radScale;
                })
                .startAngle(Math.PI)
                .endAngle(function (d) {
                    return Math.PI + (d.value / size) * 2 * Math.PI;
                });

            var path = target.selectAll("path")
                .data(data);

            //TODO: seperate color and index from data object, make it a pain to update object order
            path.enter().append("svg:path")
                .attr("fill", function (d, i) {
                    return d.fill
                })
                .attr("stroke", "#D1D3D4")
                .transition()
                .ease("elastic")
                .duration(1000)
                .delay(function (d, i) {
                    return i * 100
                })
                .attrTween("d", arcTween);

            valueText.selectAll("tspan").data(data).enter()
                .append("tspan")
                .attr({
                    x: 50,
                    y: function (d, i) {
                        return i * 14
                    },
                    "text-anchor": "end"
                })
                .text(function (d, i) {
                    return data[i].value
                });

            labelText.selectAll("tspan").data(data).enter()
                .append("tspan")
                .attr({
                    x: 0,
                    y: function (d, i) {
                        return i * 14
                    }
                })
                .text(function (d, i) {
                    return data[i].label
                });

            function arcTween(b) {
                var i = d3.interpolate({
                    value: 0
                }, b);
                return function (t) {
                    return arc(i(t));
                };
            }
        }

        // Animation Queue
        setTimeout(function () {
            drawBarCircleChart(chartData.barCircleWeb, "#circleBar-web-chart", "#circleBar-web-values",
                "#circleBar-web-labels")
        }, 500);
        setTimeout(function () {
            drawBarCircleChart(chartData.barCircleMobile, "#circleBar-mobile-chart", "#circleBar-mobile-values",
                "#circleBar-mobile-labels")
        }, 800);

        d3.select("#circleBar-web-icon")
            .transition()
            .delay(500)
            .duration(500)
            .attr("opacity", "1");
        d3.select("#circleBar-web-text")
            .transition()
            .delay(750)
            .duration(500)
            .attr("opacity", "1");

        d3.select("#circleBar-web-clipLabels")
            .transition()
            .delay(600)
            .duration(1250)
            .attr("height", "150");

        d3.select("#circleBar-mobile-icon")
            .transition()
            .delay(800)
            .duration(500)
            .attr("opacity", "1");
        d3.select("#circleBar-mobile-text")
            .transition()
            .delay(1050)
            .duration(500)
            .attr("opacity", "1");
        d3.select("#circleBar-mobile-clipLabels")
            .transition()
            .delay(900)
            .duration(1250)
            .attr("height", "150");
    </script>
    <!--// cirular-bar Js -->
    <!-- chart1 Js -->
    <script src="../js/chart1.js"></script>
    <!--// chart1 Js -->
    <!--// percentage-circles Js -->
    <script src="../js/percentage-circles.js"></script>
    <!--// percentage-circles Js -->
    <!-- gauge-meter -->
    <script src="../js/raphael-min.js"></script>
    <script src="../js/kuma-gauge.jquery.js"></script>

    <script>
        $('.js-gauge--1').kumaGauge({
            value: Math.floor((Math.random() * 99) + 1)
        });

        $('.js-gauge--1').kumaGauge('update', {
            value: Math.floor((Math.random() * 99) + 1),
            fill: '#F34A53',
            gaugeBackground: '#1E4147',
            gaugeWidth: 10,
            showNeedle: false,
            label: {
                display: true,
                left: 'Min',
                right: 'Max',
                fontFamily: 'Helvetica',
                fontColor: '#1E4147',
                fontSize: '11',
                fontWeight: 'bold'
            }
        });


        var update = setInterval(function () {
            var newVal = Math.floor((Math.random() * 99) + 1);
            $('.js-gauge--1').kumaGauge('update', {
                value: newVal
            });
        }, 1000);
    </script>
    <!-- gauge-meter -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- Js for bootstrap working-->
    <script src="../js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->


</body>

</html>
